body {
  font: 10px sans-serif;
  font-family: 'Muli';
}

.axis path,
.axis line,
.axis1 path,
.axis1 line {
  fill: none;
  stroke: #E6E7E8;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis1 path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend-box {
  cursor: pointer;
}

#mouse-tracker {
  stroke: #E6E7E8;
  stroke-width: 1px;
}

.hover-line {
  stroke: #E6E7E8;
  fill: none;
  stroke-width: 1px;
  left: 10px;
  shape-rendering: crispEdges;
  opacity: 1e-6;
}

.hover-text {
  stroke: none;
  font-size: 30px;
  font-weight: bold;
  fill: #000000;
}

.tooltip {
  font-weight: normal;
}

.brush .extent {
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
}

.center-txt.type{
  font-family: "Muli";
  font-size: 1.7em;
}

.center-txt,value{
  font-family: "Muli";
  font-size: 1.4em;
}

.center-txt.percentage{
  font-family: "Muli";
  font-size: 1.4em;
}

.greyaxis {
  fill: #AAAAAA;
  font-family: "Muli";
}
.greyaxis path,
.greyaxis line {
  stroke: #DDDDDD;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
  fill: none;
}

/*production chart*/

.y.axisRight text {
    fill: #ff7f0e;
}
.y.axisLeft text {
    fill: #1f77b4;
}


.bar1 {
  fill: #1f77b4;
}
.bar2 {
  fill: #ff7f0e;
}

.prodChart {
  /*background-color: red;*/
  height: 35em;
}

.one {
  position: relative;
  padding-bottom: 38%; /* 1000:200 */
  height: 0;
}

.two {
  width: 1000px;
  height: 200px;

  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.y.axis line {
    stroke: #FFFFFF;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
    fill: none;
  }

.padGraph{
  min-height: 30px;
  max-height: 30px;
  background-color: rgba(255, 0, 0, 0)
}
